{% extends 'Home/home.html' %}

{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">

    <!-- ============================ COMPONENT LOGIN   ================================= -->
        <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
          <div class="card-body">
          <h4 class="card-title mb-4">Change Password</h4>
          {% include 'accounts/alerts.html' %}
          <form action="{% url 'change_password' %}" method="POST">
            {%csrf_token%}
              <div class="form-group">
                 <input type="password" class="form-control" placeholder="Current Password" name="current_password" >
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="New Password" name="new_password" >
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm New password" name="confirm_password" >
              </div>
              
              {% comment %} <div class="form-group">
                  <a href="{% url 'forgotpassword' %}" class="float-right">Forgot password?</a> 
               
              </div> <!-- form-group form-check .// --> {% endcomment %}
              <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block">Save</button>
              </div> <!-- form-group// -->    
          </form>
         <a href="{% url "dashboard" %}"> <div class="form-group">
              <button class="btn btn-primary btn-block">Back to Dashboard</button>
          </div> </a>
        </div> <!-- card-body.// -->
        </div> <!-- card .// -->
    
         

    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}